/メイン画面のチャット部分
.chat-main__bulletin-board__messages__message
  .chat-main__bulletin-board__messages__message-name
    TAC
  .chat-main__bulletin-board__messages__message-date
    20019-01-10
  .chat-main__bulletin-board__messages__message-text
    イケイケだぜ！

