/メイン画面のチャット部分
.chat-main__bulletin-board__messages__message{ "data-message-id": "#{message.id}" }
  .chat-main__bulletin-board__messages__message-name
    = message.user.name
  .chat-main__bulletin-board__messages__message-date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-main__bulletin-board__messages__message-text
    - if message.content.present?
      = message.content
    =image_tag message.image.url, class: 'lower-message__image' if message.image.present?

