//チャット右側のメイン画面部分を記載
.chat-main {
    height: 100%;
    width: calc( 100vw - 300px );
    min-width: 300px;
    background-color: $white;
    float: left;
    //以降はヘッダー部分
    &__header {
        height: 95px;
        width: 100%;
        border: solid 1px $gray_borderLine;
        &__group-info {
            margin: 0 40px;
            &__name {
            font-size: 20px;
            color: $groupName-gray;
            padding: 35px 0 15px;
            float: left;
            }
            &__btn {
                font-size: 16px;
                color: $blue;
                padding: 9px 20px;
                float: right;
                line-height: 20px;
                text-decoration: none;
                border: solid 1px $blue;
                margin-top: 28px;
            }
        }
        &__menber-info {
            font-size: 12px;
            color: $light-gray;
            margin: 0 40px;
        }
    }
    //以下からチャットの掲示板部分
    &__bulletin-board {
        height: calc( 100% - (95px + 90px));
        width: 100%;
        overflow: scroll;
        &__messages {
            padding:46px 40px 0;
            &__message {
                padding-bottom: 40px;
                &-name {
                    font-size: 16px;
                    font-style: bold;
                    color: $dark-gray;
                    float: left;
                    margin-right: 10px;
                    padding-bottom: 10px;
                }
                &-date {
                    font-size: 12px;
                    color: $light-gray;
                    float: left;
                    padding-bottom: 10px;
                }
                &-text {
                    clear: both;
                    font-size: 14px;
                    color: $dark-gray;
                }
            }
        }
    }
    //以降からメッセージ、画像投稿部分
    &__footer {
        height: 90px;
        width: 100%;
        background-color: #aaaaaa;
        &__form {
            margin: 0 40px;
            &__textbox {
                height: 50px;
                width: calc(100% - 230px);
                font-size: 16px;
                color:$dark-gray;
                border:none;
                margin: 20px 0 20px 40px;
                padding: 0 0 0 10px;
                float:left;
            }
            &__label {
                display: block;
                height: 50px;
                width: 50px;
                background-color: $white;
                margin:20px 15px 20px 0;
                float:left;
                position: relative;
                //font-awesomeの位置決め
                .fa-position {
                    position: absolute;
                    top: 17px;
                    right: 10px;
                }
            }
            &__submit {
                height: 50px;
                width: 80px;
                font-size: 20px;
                color: $white;
                background-color: $blue;
                text-align: center;
                letter-spacing: 1px;
                border: none;
                margin: 20px 0 20px 0;
                float:left;
            }
        }
    }
}
//ラベル表示の無効化のための設定なのでネストしていないが本ファイルに記載
.hidden {
  display: none;
}
