//使用色を変数化
$white: #ffffff;
$blue: #38aef0;
$dark-gray: #434A54;
$light-gray: #999999;
$gray_borderLine: #eeeeee;
$left-side: #2f3e51;
$left-userInfo: #253141;
$groupName-gray: #333333;
$alert_orange: #F35500;
